.App {

}

.Container {
  overflow-y: scroll;
  height: 100vh;
}

.View {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:12px;
  position: relative;
}

.item {
  background: blue;
  font-weight: bold;
  color: #fff;
  padding: 24px;
  position: absolute;
}